.text-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.single-card-wrapper {
	display: grid;
	align-content: space-around;
	justify-content: space-around;
	margin: 0 auto;
	height: 100vh;

	.event-card {
		min-width: 666px;
		padding: 20px 40px;
		border: 2px solid #d3d3d3;
		background-color: #ffffff;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

		.text {
			display: flex;
			justify-content: space-between;

			

				a:nth-child(2) {
					padding-left: 10px;
					margin-right: 20px;
					color: red;
				}
			

			h2 {
				color: #FF7518;
			}

			button {
				font-size: 11px;
				height: 20px;
				width: 80px;
				background-color: #4CAF50;
				color: white;
				border: none;
				border-radius: 5px;
				cursor: pointer;
				transition: background-color 0.3s ease;
			}

			button:hover {
				background-color: #45a049;
			}
		}

		p {
			margin: 15px 0;
			color: #333333;
		}

		.more {
			margin-top: 20px;
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
			justify-items: center;

			.dates {
				justify-self: self-start;
				a {
					padding-right: 15px;
					min-width: 105px;
				}
			}

			.participants {
				justify-self: center;
				grid-column-start: 2;
				grid-column-end: 5;

				li {
					display: grid;
					align-items: center;
					grid-template-columns: 1fr 4fr 1fr;

					.img-wrapper {
						display: inline-block;

						img {
							margin-top: 4px;
							height: 27px;
							width: 27px;
							border-radius: 50%;
						}
					}


					p {
						margin: 0;
						display: inline-block;
					}

					button.absent {
						padding: 4px;
						background-color: #fab2b2;
						border: 2px solid #ff0000;
						border-radius: 5px;
					}
					button.present {
						padding: 4px;
						background-color: #b2fab4;
						border: 2px solid #00ff00;
						border-radius: 5px;
					}
				}
			}

			form {
				max-height: 120px;
				grid-column-start: 5;
				grid-column-end: 7;
				text-align: center;
				display: grid;
				gap: 5px;

				input[type=text] {
					grid-column-start: 1;
					grid-column-end: 3;
					padding: 10px;
					border-radius: 10px;
					border: 2px solid #d3d3d3;
					background-color: #f9f9f9;
					color: #333333;
				}

				.left {
					display: grid;
					align-items: center;
					background-color: #b2fab4;
					border: 2px solid #00ff00;
					border-radius: 5px;
					transition: background-color 0.3s ease, border-color 0.3s ease;
				}

				.left:hover {
					background-color: #a2eaa4;
					border-color: #00e000;
				}

				.right {
					display: grid;
					align-items: center;
					background-color: #fab2b2;
					border: 2px solid #ff0000;
					border-radius: 5px;
					transition: background-color 0.3s ease, border-color 0.3s ease;
				}

				.right:hover {
					background-color: #eaa2a2;
					border-color: #e00000;
				}

				input[type="radio"]:checked+.left {
					background-color: #00e000;
					border-color: #a2eaa4;
				}

				input[type="radio"]:checked+.right {
					background-color: #e00000;
					border-color: #eaa2a2;
				}

				.bottom {
					display: grid;
					grid-column-start: 1;
					grid-column-end: 3;
					background-color: #add8e6;
					border: 2px solid #0000ff;
					border-radius: 5px;
					transition: background-color 0.3s ease, border-color 0.3s ease;

					input {
						background-color: transparent;
						border: none;
						padding: 5px 0;
					}
				}

				.bottom:hover {
					background-color: #87ceeb;
					border-color: #0000cd;
				}
			}
		}
	}
}